@import 'global.less';

@link-hover-color:       darken(@link-color, 15%);

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.table thead>tr>th {
    border: 0;
}

.btn-trans {
    background: transparent;
    border-color: @link-color;
    color: @link-color;
    border-radius: 50%;
    &:hover, &:focus {
        border-color: @link-hover-color;
        background-color: @link-hover-color;
        color: #fff;

    }
}

.tooltip-inner  {
    padding: 10px;
}

.full-container {
    width: 100%;
    max-width: 100%;
}

.navbar {
    background-color: #F5F5F5;
    border-color: #BAD0DF;
    height: 60px;
    .container {
        margin: 5px 0 0;
        padding: 0;
    }
}

.navbar-brand  {
    margin-left: 0 !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0 !important;
}

.page-container {
    height: 100%;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 60px;
    bottom: 0px;
    border-right: 1px solid #CDEEEB;
    background: #DDEEFB;
    overflow: hidden;
    width: 180px;

    .nav > li > a {
        padding: 10px 5px 10px 20px;
        // color: #042333;
        &:hover {
            // color: #042333;
            background-color: #CAE8FB;
        }

    }
    .sidebar-text {
        display: inline-block;
        padding: 20px 0 0 20px;
        color: @gray;
    }
}

.content {
    background: #FFF;
    padding: 60px 0 0 180px;
    min-width: 940px;
    height: 100%;
}

.page-header {
    .clearfix();
    position: absolute;
    top: 60px;
    left: 180px;
    right: 0;
    height: 60px;
    margin: 0;
    padding: 0 0 0 20px;
    border-color: #BAD0DF;
    .page-header-title, .page-header-tools {
        float: left;
        line-height: 60px;
    }
    .page-header-title {
        display: inline-block;
        font-size: @font-size-xlarge;
        margin: 0 20px 0 0;
        padding: 0;
        max-width: 600px;
        .text-overflow();
    }
    /*.page-header-tools {
        position: absolute;
        bottom: 12px;
        right: 20px;
    }*/
}

.page-body {
    padding: 0 20px;
    margin-top:84px;
}

.th-updated-at {
    width: 120px;
}



