@import 'global.less';
@import 'bootstrap-wysihtml5-0.0.2.less';
@import '/components/bootstrap-switch/static/less/bootstrap-switch.less';
// @import 'jquery.growl.less';

// == [ VARIABLES ] ============================================================
@link-hover-color:       darken(@link-color, 15%);

// == [ SCAFFOLDING ] ==========================================================
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

// == [ TABLES ] ===============================================================
.table thead>tr>th {
    border: 0;
}

// == [ BUTTONS ] ==============================================================
.btn-trans {
    background: transparent;
    border-color: @link-color;
    color: @link-color;
    &:hover, &:focus {
        border-color: @link-hover-color;
        background-color: @link-hover-color;
        color: #fff;
    }
}

// == [ FORMS ] ================================================================

.form-control  {
    border-radius: 0;
}

.has-switch span.switch-large, .has-switch label.switch-large {
    padding-bottom: 11px;
    padding-top: 12px;
}

// == [ TOOLTIPS ] =============================================================
.tooltip-inner  {
    padding: 10px;
}

// == [ NAVBARS ] ==============================================================
.navbar {
    background-color: #F5F5F5;
    border-color: #BAD0DF;
    height: 60px;
    .container {
        margin: 5px 0 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }
}

.navbar-brand  {
    margin-left: 0 !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0 !important;
}

// == [ WYSIHTML5 ] =============================================================
.wysihtml-toolbar {
    padding: 6px 6px 3px;
    background-color: @input-border-color;
}

// == [ GROWLER ] ==============================================================
#growls {
    z-index: 1060;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.growl {
    position: relative;
    .opacity(0.8);
    .transition(all .2s ease-in-out);
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
    background: #000;

    &.growl-incoming, &.growl-outgoing {
        .opacity(0);
    }
}

.growl-close {
    cursor: pointer;
    float: right;
    font-size: @font-size-huge;
    line-height: 1;
}

.growl-title {
    font-size: @font-size-huge;
    vertical-align: top;
}

.growl-message {
    font-size: @font-size-xlarge
}


// == [ APP ] ==================================================================
.page-container {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.sidebar {
    position: fixed;
    top: 60px;
    bottom: 0px;
    border-right: 1px solid #CDEEEB;
    background: #DDEEFB;
    overflow: hidden;
    width: 200px;

    .nav > li > a {
        padding: 10px 5px 10px 20px;
        &:hover {
            background-color: #CAE8FB;
        }

    }
    .sidebar-text {
        display: inline-block;
        padding: 20px 0 0 20px;
        color: @gray;
    }
}

.content {
    background: #FFF;
    padding: 60px 0 0 200px;
    min-width: 920px;
    height: 100%;
}

.page-header {
    position: relative;
    height: 60px;
    margin: 0;
    padding: 0 0 0 20px;
    border-color: #BAD0DF;
    .page-header-title, .page-header-tools {
        position: absolute;
        bottom: 12px;
    }
    .page-header-title {
        margin: 0;
        line-height: 34px;
        height: 34px;
        // display: inline-block;
        font-size: @font-size-xlarge;
        // margin: 0 20px 0 0;
        padding: 0;
        max-width: 600px;
        .text-overflow();
    }
    .page-header-tools {
        right: 20px;
    }
}

.page-body {
    padding: 20px;
}

.th-updated-at {
    width: 120px;
}



