@import url(http://fonts.googleapis.com/css?family=Raleway:400,300,600);
@import '../../components/twitter/less/bootstrap.less';

// == [ VARIABLES ] ============================================================
@font-family-base:          'Raleway', @font-family-sans-serif;

@font-size-base:            16px;
@font-size-xlarge:          ceil(@font-size-base * 1.5); // ~24px
@font-size-huge:            ceil(@font-size-base * 2); // ~32px
@line-height-base:          1.5;

@text-color:                @gray-dark;
@brand-primary:             #02A7F0; //blue
@brand-secondary:           #7ab122; //green ;//#70a200;//dark green//#8cb818;//light-green

@input-border-color:        #DDD;
@input-focus-border-color:  #74B9EF;

@invalid-color:             #E74C3C;

@link-hover-color:          lighten(@link-color, 15%);
/**/

// == [ SCAFFOLDING ] ==========================================================
body {
    padding: 90px 0 0 0;
}

footer {
    padding: @line-height-computed 0;
    font-size: @font-size-small;
    a {
        color: @gray-light;
        &:hover {
            color: @gray-dark;
        }
    }
}
/**/
// == [ TYPE ] =================================================================
.page-header {
    padding-bottom: @line-height-computed/2;
    border-bottom: none;
    + .lead {
        margin-top: @line-height-computed * -1;
    }
}/**/

// == [ FORMS ] ================================================================

.form-control {
    border: 3px solid @input-border-color;
    .box-shadow(none);
    margin-bottom: @line-height-computed / 2;
    height: auto;
    padding: 9px 12px;
    &:focus {
        border-color: @input-focus-border-color;
        .box-shadow(none);
        outline: none;
      }
    &.invalid, &:invalid {
        border-color: @invalid-color;
        background-color: lighten(@invalid-color, 40);
    }
}

small.invalid {
    color: @invalid-color;
    display: block;
    margin: (@line-height-computed / -2) 3px (@line-height-computed / 2);
}

html.placeholder form.placeholders {
    label {
        .sr-only;
    }
    .form-control {
        margin-bottom: 15px;
    }
}

// == [ BUTTONS ] ==============================================================
.btn-secondary {
  .button-variant(@btn-primary-color, @brand-secondary, @brand-secondary);
}

// == [ UTLILITIES ] ===========================================================
.mb {
    margin-bottom: @line-height-computed;
}

.mbx {
    margin-bottom: @line-height-computed * 2;
}

.hider {
    display: none;
}


