@import 'global.less';

body {
    padding: 130px 0;
}

.navbar-brand {
    max-width: 50%;
}

.navbar-nav {
    margin-top: 4px;
}

.navbar-footer {
    background-color: transparent;
}


.link-forgot {
    font-size: @font-size-small;
    display: inline-block;
    padding-top: 18px;
    .text-muted;
    &:hover {
    }
}
