@import 'global.less';

// == [ VARIABLES ] ============================================================
@logo-url:     '/img/logo-block-dark.png';
@logo-size: 90px;

// == [ SPECIFIC ] =============================================================
.navbar-inverse {
    background: #111;
    .navbar-brand {
        .hide-text();
        .square(@logo-size);
        background: url(@logo-url) 0 0 no-repeat;
    }
    .navbar-nav {
        margin-top: 22px;
        .sign-up {
            color: @brand-primary;
        }
    }
}

.hero {
    position: relative;
    background: url(/img/hero-basketball-star.jpg) center center no-repeat;
    .background-size(cover);
    height: 460px;
    .container {
        position: relative;
        z-index: 200;
        padding-top: 120px;
        color: #fff;
        text-shadow: 0 1px 1px #000;
    }
    .btn-large{
        width: 400px;
        border-radius: 0;
    }
}

.benefits {
    padding: (@line-height-computed * 2) 0;
    h2 {
        margin-top: 0;
        font-weight: 300;
    }
    p {
        font-size: 1.25em;
        color: @gray;
        font-weight: 300;
    }
    .row {
        padding: (@line-height-computed * 2) 0;
    }
}
