@import 'global.less';
@import 'bootstrap-wysihtml5-0.0.2.less';
@import 'bootstrap-switch.custom.less';
@import 'datepicker.custom.less';
// @import 'jquery.growl.less';

// == [ VARIABLES ] ============================================================
@link-hover-color:       darken(@link-color, 15%);

// == [ SCAFFOLDING ] ==========================================================
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.container-left {
    margin:0;
}

// == [ TABLES ] ===============================================================
.table thead>tr>th {
    border: 0;
}

// == [ FORMS ] ================================================================
.has-switch span.switch-large, .has-switch label.switch-large {
    padding-bottom: 11px;
    padding-top: 12px;
}

// == [ TOOLTIPS ] =============================================================
.tooltip-inner  {
    padding: 10px;
}

// == [ NAVBARS ] ==============================================================
.navbar {
    background-color: @gray-darker;
    height: 60px;
    .container {
        margin: 5px 0 0;
        padding: 0;
        width: 100%;
        max-width: 100%;
    }
    a {
        color: @gray-light;
        &:hover, &:focus {
            color: #fff;
        }
    }
}

.nav>li>a:hover, .nav>li>a:focus {
    background:inherit;
}

.navbar-brand  {
    margin-left: 0 !important;
}

.navbar-nav.navbar-right:last-child {
    margin-right: 0 !important;
}

// == [ WYSIHTML5 ] =============================================================
.wysihtml-toolbar {
    padding: 6px 6px 3px;
    background-color: @input-border-color;
}

// == [ GROWLER ] ==============================================================
#growls {
    z-index: 1060;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.growl {
    position: relative;
    .opacity(0.8);
    .transition(all .2s ease-in-out);
    width: 100%;
    padding: 10px;
    text-align: center;
    color: #fff;
    background: #000;

    &.growl-incoming, &.growl-outgoing {
        .opacity(0);
    }


}

.growl-error {
    background: @brand-danger;
}

.growl-close {
    position: absolute;
    right: 10px;
    top: 0;
    font-size: @font-size-huge;
    color: #FFF;
    .opacity(0.8);
    &:hover, &:focus {
        color: #FFF;
        .opacity(1);
    }
}

.growl-title {
    font-size: @font-size-huge;
    vertical-align: top;
}

.growl-message {
    font-size: @font-size-xlarge
}


// == [ APP ] ==================================================================
.page-container {
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 100%;
}

.sidebar {
    position: fixed;
    top: 60px;
    bottom: 0px;
    border-right: 1px solid #CDEEEB;
    border-right: 1px solid #DDE2EB;
    background: #DDEEFB;
    background: #F2F7FA;
    overflow: hidden;
    width: 200px;

    .nav > li > a {
        padding: 10px 5px 10px 20px;
        color: @gray-dark;
        &:hover {
            color: @gray-darker;
            background-color: #CAE8FB;
            background-color: #DFEAF0;
        }

    }
    .sidebar-text {
        display: inline-block;
        padding: 20px 0 0 20px;
        color: #9DBECB;
        color: #AAB6BD;
    }
}
.content {
    background: #FFF;
    padding: 60px 0 0 200px;
    min-width: 920px;
    height: 100%;
}

.page-header {
    position: relative;
    height: 60px;
    margin: 0;
    padding: 0 0 0 20px;
    // border-color: #BAD0DF;
    border-color: @gray-lighter;

    .page-header-title, .page-header-tools {
        position: absolute;
        bottom: 12px;
    }
    .page-header-title {
        margin: 0;
        line-height: 34px;
        height: 34px;
        // display: inline-block;
        font-size: @font-size-xlarge;
        // margin: 0 20px 0 0;
        padding: 0;
        max-width: 600px;
        .text-overflow();
    }
    .page-header-tools {
        right: 20px;
    }
}

.page-body {
    padding: 20px 50px;
}

.page-body-narrow {
    width: 50%;
}

.blank-slate {
    margin-top: 50px;
    text-align: center;
    h1 {
        margin: 0;
        i {
            font-size: ceil(@font-size-base * 4.57);
            color: #DDD;
        }
    }
    h2 {
        font-size: @font-size-large;
        font-weight: 300;
    }
}

.th-150 {
    width: 150px;
}

.stripe-payments-well, .authorizenet-payments-well {
    padding-left: 200px;
}

.stripe-payments-well {
    background: @well-bg url(/img/stripe-logo.png) no-repeat 20px 40px;
}

.authorizenet-payments-well {
    background: @well-bg url(/img/authorizenet-logo.png) no-repeat 20px 40px;
}

.authorizenet-payments-panel, .stripe-payments-panel {
    border: 1px solid @panel-default-border;
    > .panel-body {
        padding-left: 200px;
    }
    .panel-footer {
        background: #FAFAFA;
    }
}

.authorizenet-payments-panel > .panel-body {
    background: #FFF url(/img/authorizenet-logo.png) no-repeat 20px 40px;
}

.stripe-payments-panel > .panel-body {
    background: #FFF url(/img/stripe-logo.png) no-repeat 20px 40px;
}




